<div class="grid grid-nogutter surface-section text-800" style="height: 100vh; width: 100vw;">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
        <section>
            <span class="block text-6xl font-bold mb-1">Create the screens your</span>
            <div class="text-6xl font-bold mb-3" style="color: #FF6600;">visitors deserve to see</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="flex flex-wrap gap-2">
                <button pButton pRipple label="Learn More" type="button" class="p-button-warning" routerLink="/declaration" ></button>
                <button pButton pRipple label="Live Demo" type="button" class="p-button-outlined p-button-warning"></button>
            </div>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="/assets/demo/images/welcome/welcome.webp" alt="welcome"  class="md:ml-auto block md:h-full w-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);">
        
     
    </div>
</div>
